# tools
.vs
.vscode
.git
.github

# dependency dirs
sfml
rplidar_sdk

# generated stuff
Release
Debug
*.o
lidarvis

# other
*.user
*.xcf
.DS_Store
doc
README.md
.gitattributes
.gitignore
CONTRIBUTING.md
install_rplidar
install_sfml
datasets
vs
.clang-format
